spring:
  profiles:
    active: local
  datasource:
    username: ${DB_USER_ID}
    password: ${DB_USER_PASSWORD}
    url: jdbc:mysql://${MASTER_DB_IP}:${MASTER_DB_PORT}/${DB_SCHEMA}?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    driver-class-name: com.mysql.cj.jdbc.Driver
  servlet:
    multipart:
      max-file-size: 300MB
      max-request-size: 300MB
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    show-sql: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
      format_sql: true
  mvc.pathmatch.matching-strategy: ANT_PATH_MATCHER # Swagger-ui
jwt:
  header: Bearer
  secret: ${JWT_SECRET}
  #hs256 algorithm
sns:
  google:
    url: https://accounts.google.com/o/oauth2/v2/auth
    client:
      id: ${GOOGLE_CLIENT_ID}
      secret: ${GOOGLE_CLIENT_SECRET}
    callback:
      url: ${GOOGLE_CALLBACK_URL}
    token:
      url: https://oauth2.googleapis.com/token
  github:
    url:
    client:
      id: ${GITHUB_CLIENT_ID}
      secret: ${GITHUB_CLIENT_SECRET}
    callback:
      url: ${GITHUB_CALLBACK_URL}
    token:
      url:
  naver:
    url:
    client:
      id: ${NAVER_CLIENT_ID}
      secret: ${NAVER_CLIENT_SECRET}
    callback:
      url: ${NAVER_CALLBACK_URL}
    token:
      url:
  kakao:
    url:
    client:
      secret: ${KAKAO_CLIENT_SECRET}
    callback:
      url: ${KAKAO_CALLBACK_URL}
    token:
      url:
logging:
  slack:
    webhook-uri: ${WEBHOOK_URL}
  config: classpath:logback-spring.xml
  dir: ${LOG_DIR}
slack:
  url: ${ALERT_URL}
cloud:
  aws:
    s3:
      bucket: ${S3_BUCKET}
    credentials:
      accessKey: ${S3_ACCESS_KEY}
      secretKey: ${S3_SECRET_KEY}
    region:
      static: ap-northeast-2
    stack:
      auto: false

frontend:
  redirect:
    url: ${FRONT_REDIRECT_URL}